/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout & Typography */
body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.4;
  color: #dddddd;
  background: url('../images/background.png') center repeat;
  background-attachment: scroll;
}

main, .article-link {
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: auto;
  image-rendering: smooth;
}

header, footer {
  text-align: center;
  padding: 10px 20px;
}

footer {
  color: #fff;
  letter-spacing: 2px;
}

.projects {
  color: #ff9d00;
  text-align: center;
  text-decoration: underline;
}

/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  margin: 0;
  justify-content: center;
  
}


nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  height: clamp(30px, 10vw, 60px);
  width: auto;
  display: block;
  transition: opacity 0.2s ease;
}


.nav-icon:hover {
  opacity: 0.7;
}


/* Articles */
.article-link {
  text-decoration: none;
  color: inherit;
  display: block;
  margin: 20px auto;
}

.article-link article {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 3px solid rgb(175, 175, 175);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, .5);
  transition: background-color 0.2s ease;
}

.article-link:hover article {
  background-color: rgba(255, 255, 255, 0.05);
}

.article-image {
  width: 192px;
  height: 108px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
  border: 2px solid #aaa;
  image-rendering: auto;
}

.article-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  font-size: clamp(1rem, 1.0vw, 1.2rem);
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.article-header h2,
.article-header .date {
  margin: 0;
}

.article-header .date {
  color: #afafaf;
  font-size: 1em;
  font-weight: bold;
}


/* Embed YouTube videos responsively at 16:9 */
.responsive-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #aaa;
  margin-bottom: 20px;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/* Responsive Layout */
@media (max-width: 600px) {

  .article-link article {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .article-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .article-header {
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .article-content .date{
    text-align: right;
  }


  .article-link article {
    margin-left: 15px;
    margin-right:15px;
  }


}
