
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "futura-pt-bold", sans-serif; 
  letter-spacing: .5px;
  line-height: 1.4;
  color: #aaa;
  background: url('../images/background.png') center repeat;
  background-attachment: fixed;
}

main, .article-link {
  max-width: 800px;
  margin: 0 auto;
}



.article-link {
  text-decoration: none;
  color: inherit;
  display: block;
  margin: 20px auto;
}

.article-link article {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 3px solid #aaa;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, .5);
  transition: background-color 0.2s ease;
}

.article-link:hover article {
  background-color: rgba(255, 255, 255, 0.05);
}


.shop-link {
  text-decoration: none;
  color: #ffaf2e; 
  text-decoration-color: #ffaf2e;
  display: block;
  margin: 20px auto;
}

.shop-link article {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 3px solid #ff9d00;
  border-radius: 15px;
  background-color: rgb(255, 157, 0, 0.2);
  transition: background-color 0.2s ease;
}

.shop-link:hover article {
  background-color: rgba(255, 157, 0, 0.5);
}

.article-image {
  width: 192px;
  height: 108px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
  border: 2px solid #aaa;
  image-rendering: auto;
}

.article-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  font-size: clamp(1rem, 1.0vw, 1.2rem);
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.article-header h2,
.article-header .date {
  margin: 0;
}

.article-header .date {
  color: #aaa;
  font-size: 1em;
  font-weight: bold;
}

.article-header h2 {
  color: #dddddd;
  text-decoration: underline;
  text-decoration-color: #aaa;
  text-decoration-thickness: 3px;
}

.responsive-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #aaa;
  margin-bottom: 20px;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 600px) {

  .article-link article {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  .shop-link article {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  .article-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .article-header {
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .article-content .date{
    text-align: right;
    font-size: smaller;
  }



}
